data/raw/*.csv
data/processed/*.csv
*.csv
*.json
*.parquet

.venv/
venv/
ENV/
env/
bin/
lib/
include/
pyvenv.cfg

.ipynb_checkpoints
*/.ipynb_checkpoints/*
__notebook_source__.ipynb

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

models/*.pkl
models/*.joblib
models/*.bst
*.log